src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:microsoft-dynamics-crm="http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm/current/mule-microsoft-dynamics-crm.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

<flow name="businessLogicFlow" doc:id="884f86c5-66e1-4701-bb9b-594c2a60abf3" >
		<batch:job jobName="migrateContactsBatch" doc:id="79b373e6-1aeb-43a9-9dfe-8ac0d2f31fdc" >
        <batch:process-records >
            <batch:step name="getContactsFromSalesforce" doc:id="232087de-e311-49c1-a890-439c65ea1af2" >
					<salesforce:query-single doc:name="Query Salesforce for matching Contact" doc:id="c5b2fb79-6410-42b8-8369-3629c7ba7d76" config-ref="Salesforce_Config" target="contactInSalesforce">
						<salesforce:salesforce-query >SELECT Id,Name FROM Contact WHERE Name = ':fullname'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"fullname" : payload.fullname replace "'" with "\'"
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Set Id to payload" doc:id="82483573-d1f5-42c1-adcb-99fdfe87d851" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	"id" : if (vars.contactInSalesforce != null) vars.contactInSalesforce.Id else null
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
            </batch:step>
            <batch:step name="findOrCreateAccountInSalesforceStep" doc:id="8523ab7f-3b2e-4f20-8b05-cd900de65cf6" >
					<choice doc:name="Has Account and syncAccount is enabled" doc:id="22804352-fe2a-456d-a83a-0096420c014c" >
						<when expression="#[(payload[&quot;acc.name&quot;] != null) and ('syncAccount' == '${account.sync.policy}')]" >
							<salesforce:query-single doc:name="Query Salesforce for matching Account" doc:id="b9e613ec-176e-4bf9-8338-fc8fe44b30d8" config-ref="Salesforce_Config" target="sfAccount">
								<salesforce:salesforce-query >SELECT Id, Name FROM Account WHERE Name = ':accountName'</salesforce:salesforce-query>
								<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"accountName" : payload."acc.name".value replace "'" with "\'"
}]]]></salesforce:parameters>
							</salesforce:query-single>
							<choice doc:name="No Matching Account found in Salesforce" doc:id="9a68de5c-4813-4baa-9076-00c6ddd337d8" >
								<when expression="#[isEmpty(vars.sfAccount)]" >
									<ee:transform doc:name="Store name of new account" doc:id="449ac857-4ea6-42fe-9347-0b4818ebec9e">
										<ee:message>
										</ee:message>
										<ee:variables >
											<ee:set-variable variableName="nameOfNewAccountForSfdc" ><![CDATA[%dw 2.0
output application/java
---
{
	name : payload["acc.name"].value
}]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
									<salesforce:create-single type="Account" doc:name="Create Account in Salesforce" doc:id="c6682ee6-1aa7-4b20-bdd7-db6449aa0b74" config-ref="Salesforce_Config" target="accountId" targetValue="#[payload.id]">
										<salesforce:record ><![CDATA[#[vars.nameOfNewAccountForSfdc]]]></salesforce:record>
									</salesforce:create-single>
								</when>
								<otherwise >
									<set-variable value="#[vars.sfAccount.Id]" doc:name="Save found AccountId" doc:id="86df8fda-e779-4fd9-89e5-76c3a44cc04a" variableName="accountId"/>
								</otherwise>
							</choice>
							<ee:transform doc:name="Set accountId to payload" doc:id="99859e01-0829-405d-91be-822dbc44eca2" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	"accountId" : vars.accountId
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</when>
						<otherwise >
							<ee:transform doc:name="Remove accountId" doc:id="53ac149d-bb7f-4df3-ba4d-1e0c8d6fbcf0" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload - "accountId"]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</otherwise>
					</choice>
				</batch:step>
				<batch:step name="upsertContactsInSalesforceStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
                <ee:transform doc:name="Prepare Contact for Upsert" doc:id="8c2b43b2-1df3-4066-acc8-dee641bd9124">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"Id"        : payload.id,
	"AccountId" : payload.accountId,
	"Email"     : payload.emailaddress1,
	"FirstName" : payload.firstname,
	"LastName"  : payload.lastname,
	"Phone"     : payload.telephone1
}
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<logger level="INFO" doc:name="Log before upsert" doc:id="a080f5a4-657e-4fe7-b926-30e9fbc484b0" message="#[output application/json --- payload ]" />
						<salesforce:upsert-bulk doc:name="Upsert Contact in Salesforce" doc:id="0f35b204-af7d-4dd7-ab4f-5a974c6f922d" config-ref="Salesforce_Config" type="Contact" externalIdFieldName="Id"/>
						<logger level="INFO" doc:name="Log result" doc:id="9b76cce1-f28d-4db7-a015-5178ec060a3c" message="#[payload]"/>
                </batch:aggregator>
            </batch:step>
        </batch:process-records>
        <batch:on-complete >
            <scatter-gather doc:name="Scatter-Gather" doc:id="ef2964ef-0b85-4c6c-a5ee-b834df639e7b">
                <route>
                    <logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished!" />
                </route>
                <route>
                    <ee:transform doc:name="Prepare migration result email"
                                  doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"

 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
 ++ "\n Total Records: "				++ payload.totalRecords!
 ++ "\n Successful Records: "		++ payload.successfulRecords!
 ++ "\n Failed Records: "			++ payload.failedRecords!
 ++ "\n Loaded Records: "			++ payload.loadedRecords!
 ++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <email:send config-ref="Gmail_SMTP" doc:name="Send migration result email"
                                doc:id="5896eaa9-dd10-47a2-a6fc-6319b11dbd06" fromAddress="${mail.from}"
                                subject="${mail.subject}">
                        <email:to-addresses>
                            <email:to-address value="${mail.to}" />
                        </email:to-addresses>
                    </email:send>
                </route>
            </scatter-gather>
        </batch:on-complete>
    </batch:job>
</flow>
	<sub-flow name="queryFromMSDynSubFlow" doc:id="d89f9117-4191-44d2-b824-0b65f21d8439" >
		<microsoft-dynamics-crm:retrieve-multiple-by-query doc:name="Query MS Dynamics CRM for Contacts" doc:id="38490d35-8fc1-4b27-aefd-8dd9b410d88c" config-ref="Microsoft_Dynamics_CRM_Dynamics_CRM">
			<microsoft-dynamics-crm:query><![CDATA[<fetch mapping="logical">
<entity name="contact">
<attribute name="contactid" />
<attribute name="emailaddress1" />
<attribute name="firstname" />
<attribute name="fullname" />
<attribute name="lastname" />
<attribute name="parentcustomerid" />
<attribute name="telephone1" />
<link-entity name="account" from="accountid" to="parentcustomerid" alias="acc" link-type="inner">
       <attribute name="name"/>
</link-entity>
</entity>
</fetch>]]></microsoft-dynamics-crm:query>
		</microsoft-dynamics-crm:retrieve-multiple-by-query>
	</sub-flow>
	<flow name="mainFlow" doc:id="7c0a5bef-b3d5-442f-bff3-10d038f69a5e">
    <flow-ref doc:name="Reference to queryFromMSDynSubFlow" doc:id="fddfd3ef-569d-4ec1-8b48-5d82547730bb" name="queryFromMSDynSubFlow"/>
		<flow-ref doc:name="businessLogicFlow" doc:id="91360ede-4d71-44c7-9b64-8ee762e04ea0" name="businessLogicFlow" />
    <error-handler>
        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
            <flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow" />
        </on-error-propagate>
    </error-handler>
</flow>
</mule>


        